/bin/
/.settings/
/seventh/
/bin/
/.classpath
/.project
/assets/
/build/
/release/
/build.xml
/seventh_error.log
/seventh_server.xml
/seventh.xml
/template/
*.DS_Store
/*.leola
/*.leola.bac
*.DS_Store